doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    title Raptor Software
    meta(http-equiv='Content-Type', content='text/html; charset=iso-8859-1')
    link(rel='stylesheet', type='text/css', href='./css/style.css', media='screen')
  body
    #container
      // Begin Header
      #header
        b.xtop
          b.xb1
          b.xb2
          b.xb3
          b.xb4
        .headercontent
          h1 Raptor Software
          h2 viciously efficient development
          // Begin Menu
          #menucontainer
            #menu
              span.mleft
              .box
                a(href='http://all-free-download.com/free-website-templates/') Home
              .boxx
                .boxx1
                .boxx2
                .boxx3
                .boxx4
                .boxx5
                .boxx6
                .boxx7
                .boxx8
              .box
                a(href='http://all-free-download.com/free-website-templates/') Projects
              .boxx
                .boxx1
                .boxx2
                .boxx3
                .boxx4
                .boxx5
                .boxx6
                .boxx7
                .boxx8
              .box
                a(href='http://all-free-download.com/free-website-templates/') Develop
              .boxx
                .boxx1
                .boxx2
                .boxx3
                .boxx4
                .boxx5
                .boxx6
                .boxx7
                .boxx8
              .box
                a(href='http://all-free-download.com/free-website-templates/') Portfolio
              .boxx
                .boxx1
                .boxx2
                .boxx3
                .boxx4
                .boxx5
                .boxx6
                .boxx7
                .boxx8
              .box
                a(href='http://all-free-download.com/free-website-templates/') About
              .boxx
                .boxx1
                .boxx2
                .boxx3
                .boxx4
                .boxx5
                .boxx6
                .boxx7
                .boxx8
              .box
                a(href='http://all-free-download.com/free-website-templates/') Contact
              span.mright
          // End Menu
        b.xbottom
          b.xb4
          b.xb3
          b.xb2
          b.xb1
      // End Header
      // Begin Promotion Box
      #promo
        b.xtop2
          b.xb12
          b.xb22
          b.xb32
          b.xb42
        .promocontent
          h1 Promotion Box 
          p
            img(src='./images/red_cup.jpg', alt='red cup', width='200', height='160')
            img(src='./images/blue_cup.jpg', alt='blue cup', width='200', height='160')
          p
            | Yes, that is correct. Our software company sells cups. And not just any cups. These are made of high quality glass. Are you wetting your pants yet? Well, we aren't even done! We offer two models: a red cup and a blue cup. So take your pick and walk home with a mighty fine glass cup from Raptor Software!
        b.xbottom2
          b.xb42
          b.xb32
          b.xb22
          b.xb12
      // End Promotion Box
      // Begin Main Content
      .splitleft
        h3
          a(href='http://all-free-download.com/free-website-templates/') An Old Project
        p
          | This template has been in the works for quite a while now. I was originally inspired by Mozilla's website, and just added my own touch to it. My favorite aspect is that the rounded corners of the two upper boxes are done entirely in CSS. The only images are those two stupid cups. Everything is valid 
          a(href='http://validator.w3.org/check?uri=referer') XHTML
          | , blah blah blah.
      .splitright
        h3
          a(href='http://all-free-download.com/free-website-templates/') Why The Name Raptor?
        p
          | Well, as a kid my favorite movie was Jurassic Park. It scared the crap out of me, but also inspired me. I loved and hated those raptors. They were sneaky and clever little bastards. Anyways, the color scheme obviously has nothing to do with that; I just like green. Speaking of which, the colors can all be change easily, since I didn't use images for the design.
      .widecontent
        h3
          a(href='http://all-free-download.com/free-website-templates/') About That Customization
        p
          | So with no images, you can do whatever you want with this template. Think that these colors look like terrible? Change them! You don't like the menu? Find a different one! Really, this is the beauty of the whole template. I have included a 
          a(href='green.html') green version
          |  of this template. I hope that someone out there finds a use for it. And just as with my other templates, I don't require you to leave my link, but I just ask that you 
          a(href='http://all-free-download.com/free-website-templates/') let me know
          |  what your website address will be. Thanks!
        p
          | Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit a...
      // End Main Content
      // Begin Footer
      #footer
        p
          | © Copyright 2006, Swati Sneha | Design by 
          a(href='http://www.jdavidmacor.com') super j man
          |  | Valid 
          a(href='http://validator.w3.org/check?uri=referer') xhtml
      // End Footer
    div(align='center')
      | This template  downloaded form 
      a(href='http://all-free-download.com/free-website-templates/') free website templates
